---
title: デザインビギナーズ
---

%h1 デザインビギナーズとは

%p
  webデザイン初心者たちがみんなで少しずつデザインを学んでいくコミュニティです。
%p
  現在は月に２回の頻度でミートアップを開催しています。
  <br/>
  興味のある方はぜひ
  =link_to "facebookグループ", "https://www.facebook.com/groups/118476225013593/"
  にご参加ください。

%h2 対象
%ul
  %li
    webデザインを勉強したいけれど一人ではなかなか続けられない人
  %li
    初心者の四苦八苦っぷりを温かく見守ってくれるデザイナー


%h2 関連リンク
%div
  %dl
    %dt
      %a{href: "https://www.facebook.com/groups/118476225013593/"} facebookグループ
    %dd
      facebookグループ上で情報交換をしています。まずはこちらにご参加ください。
    %dt
      %a{href: "http://debeg.doorkeeper.jp/"} doorkeeper
    %dd
      ミートアップ情報はdoorkeeperで管理しています。ミートアップに参加したい場合はdoorkeeper上のイベントで参加申請を行ってください。
    %dt
      %a{href: "https://github.com/design-beginners/meetups"} github
    %dd
      ミートアップ中に取り組んだ課題は
      %a{href: "https://github.com/design-beginners/meetups/issues"}> issues
      で、振り返りの内容は
      %a{href: "https://github.com/design-beginners/meetups/wiki"}> wiki
      で管理しています。
    %dt
      %a{href: "https://twitter.com/search?q=%23debeg"} twitter
    %dd
      デザインビギナーズ用のtwitterハッシュタグは
      %a{href: "https://twitter.com/search?q=%23debeg"}> #debeg
      です。
